@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    font-size: 11px;
    font-family: 'Roboto', Helvetica, sans-serif;
    letter-spacing: 1px;
    line-height: 30px;
}
.ll{
    transition: 300ms;
}